<h1><storong>Books</storong></h1>
<% @books.each do |book| %>

  <p>Title</p>
  <span><%= book.title %></span> 
  
  <p>Body</p>
  <span><%= book.body %></span>

<%= link_to "Show", book_path(book.id) %>
 <%= link_to "Edit", edit_book_path(book.id) %>
<%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>

<% end %>


  <h3><strong>New book</strong></h3>
  <%= form_with model: @book, url: '/books',  method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
	
  <p>Body</p>
  <%= f.text_area :body %>
	
  <%= f.submit 'Create Book' %>
<% end %>
 
 