<%= flash[:notice] %>
<%= flash[:non] %>

<table>
<tr align="center">
 <th><h4><strong>Title:</strong></h4></th>
 <th><p><%= @book.title %></p></th>
</tr>
<tr align="center">
 <th><h4><strong>Body:</strong></h4></th>
 <th><p><%= @book.body %></p></th>
</tr>


<tr>
 <th><%= link_to "Edit", edit_book_path(@book.id) %></th>
 <th>|</th>
 <th><p><a href="/books">Back</a></p></th>
</tr>
</table>