<%= flash[:notice] %>
<%= flash[:non] %>

<h2><strong>Title:</strong></h2><p><%= @book.title %></p>

<h2><strong>Body:</strong></h2><p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id) %>|

 <p><a href="/books">Back</a></p>
 